body {
    background-image: url(imagemfundo.png);
    margin: 0;
    padding: 0;
    height: 100vh; 
    background-position: center;   
}
.container-lado-a-lado {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px; /* espaço entre imagem e texto */
  flex-wrap: wrap; /* garante responsividade */
  padding: 20px;
  
}

.container-lado-a-lado img {
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 30%;
  padding: 20px;
  gap: 20px;
}

.texto-lateral {
  max-width: 500px;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  
}

.conteudo {
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;

}
.texto-curriculo {
  margin-top: 100px;
  margin: 0 auto;
  padding: 10px 20px;
  text-align: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px; /* Tamanho da fonte */
  max-width: 500px;
}

.botao {
  display: flex;
  justify-content: center;
  margin: 10px;
  color: white; /* Texto branco */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  font-family: Arial, sans-serif;
  font-size: 16px; /* Tamanho da fonte */
}
.links {
    position: fixed;
    top: 15px;
    right: 15px;
    display: flex;
    gap: 15px;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
  }

  .top-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }

  .top-links a:hover {
    color: #25D366;
  }


.formacao {
  display: flex;
  justify-content:center ;
  text-align: left;
}

 .instagramm img {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 175px;
        right: 35px;
        background-color: #E1306C;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
    }
.redesocial img {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 100px;
        right: 35px;
        background-color: #333;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
    }
.whatsapp-float img {
        position: fixed;
        width: 60px;
        height: auto;
        bottom: 25px;
        right: 35px;
        background-color: #25D366;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
    }    
.linkedin img {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 250px;
        right: 35px;
        background-color: #0077B5;
        color: #fff;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
    }

     .faixa-esquerda {
    position: fixed;
    top: 0;
    left: 0;
    width: 5%;
    height: 100vh;
    background-color: #8f8f8f;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .faixa-esquerda p {
    writing-mode: vertical-rl; /* ou vertical-lr */
    text-orientation: upright;
    color: #060706;
    font-weight: bold;
    font-size: 50px;
  }

.projetos-destaque {
  color: white;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 20px auto;
  max-width: 800px;
}
.card-projeto img {
  width: 50px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
 border-radius: 50%;
}
